*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif; 
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.navbar-links
{
    display: flex;
    gap: 10px;
    text-decoration: none;

}
.navbar-link a
{
    
    text-decoration: none;
    color: rgb(2, 17, 37);
}
.navbar-link a:hover
{
    text-decoration: underline;
    color: rgb(2, 17, 37);
}
.navbar-menu
{
    display: none;
}

.side-nav
{
    background-color: rgb(2, 17, 37);
    width: 50%;
    height: 200px;
    position: absolute;
    
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    
   
}
.sidenavbar-link 
{
    margin-bottom: 30px;
}
.sidenavbar-links a
{
    margin-bottom: 30px;
    color: white;
}
/*header*/
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-color: rgb(131, 134, 133);
}


.header-but
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(8, 41, 85) ;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
.header-but:hover
{
    background-color:rgb(2, 17, 37) ;
    transform: scale(1.1);

}
/* Services */
.service
{
   padding: 20px;
}
.service-con1
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-con2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-con2 div{
background-color: #ebeff4;
border-radius: 10px;
padding: 20px;
}
/* New Arrival */
.newarrival
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.newarrival-con
{
    position: relative;
    flex-basis: 25%;
}
.newarrival-but
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 10px;
    border: none;
}

.newarrival-but:hover{
    background-color:rgb(2, 17, 37) ;
    color: white;

}

/* news */
.news
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input
{
    margin-bottom:10px ;
    margin-top:10px ;
    width: 80vw;
    padding: 11px;
    border: solid black 3px;

}
.news button
{
    margin-top: 10px;
    color: white;
    background-color:rgb(11, 37, 73) ;
    padding: 10px;
    border-radius: 10px;
    border:none;

}
.news button:hover
{
    background-color:rgb(2, 17, 37) ;
    transform: scale(1.1);

}
.footer
{
    margin-top: 20px;
    background-color:rgb(2, 17, 37) ;
    color: white;
    padding: 40px;
    
}
/* collection */
.product-section
{
    margin: 20px;
}
.product-search
{
    width: 80%; 
    border: solid black 2px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.product-search input
{
   
    border: none;
    background: transparent;
    width: 100%;
}
.product-search input:focus
{
   outline: none;
   
}
.product
{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-box
{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}
.nofound
{
    background-color:transparent;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    display: none;
    width: 50%;
    margin-left: 25%;
    
}
/* contact */
.contact
{
    padding: 20px;
    width: 60%;
    margin-top: 60px;
    border-radius: 10px;
    border: solid black 1px;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(120, 41, 41, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 50px;

}

.logo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-con
{
    display: flex;
    justify-content:space-around;
}
.input-box
{
    padding: 20px;
   
}
.input-box input
{
    padding: 10px;
    width: 100%;
}
.input-box button
{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
    background-color:rgb(11, 37, 73) ;
    border: none;
    border-radius: 10px;
    box-shadow: 2px;
    align-items: center;
    width: 100px;
}
/* Media query */
@media screen  and (max-width:600px)
{
    .navbar-menu
    {
        display: block;
    }
    .navbar-links
    {
        display: none;
    }
   .header-img
   {
    display: none;
   }
   .service-con1
   {
    display: none;

   }
   .service-con2
   {
    flex-direction: column;

   }
    
}
@media (max-width: 768px) {
    /* Stacking the content vertically */
    .contact-con {
        flex-direction: column;
        align-items: center;
    }

    .contact-con div {
        width: 100%;
        text-align: center;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 845px) {
    /* Reduce padding for smaller screens */
    .contact {
        padding: 10px;
    }

    /* Adjust font size for smaller screens */
    .logo h2,
    .contact-con h2 {
        font-size: 18px;
    }

    .contact-con img {
        width: 100%;
        height: auto;
    }
    .input-box input
{
   
    width: 80%;
}
}
@media (max-width: 555px) 
{
    .con-img
    {
        display: none;
      
        
    }

}